@import 'sass/index';

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* general */

body {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: "sticky sticky"
    "header header"
    "sidebar main"
    "footer footer";
    grid-template-rows: repeat(2, auto) 1fr auto;
}

.sticky {
    position: fixed;
    grid-area: sticky;
}

header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}